# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore environment-specific configuration files
.env

# Ignore build and output directories
dist/
coverage/

# Ignore editor-specific and system-specific files
.vscode/
.idea/
.DS_Store
Thumbs.db
